In [1]:
import os
import numpy as np 
import pandas as pd

In [2]:
!wget -P ./../../dataset/ -nc https://cleanlab-public.s3.amazonaws.com/RegressionBenchmark/airquality_co.csv

File './../../dataset/airquality_co.csv' already there; not retrieving.

In [3]:
path = "./../../dataset//airquality_co.csv"
dataset_name = os.path.splitext(os.path.basename(path))[0]
data = pd.read_csv(path, index_col=0)
print("shape of data: ", data.shape)
data.head()

shape of data:  (7344, 12)

,time_slot,day_of_week,T,RH,AH,PT08.S2(NMHC),PT08.S3(NOx),PT08.S4(NO2),PT08.S5(O3),true_label,given_label,true_error
0,evening,wednesday,13.6,48.9,0.7578,1046.0,1056.0,1692.0,1268.0,1.2078,1.2366,0
1,evening,wednesday,13.3,47.7,0.7255,955.0,1174.0,1559.0,972.0,0.9290,1.1747,0
2,evening,wednesday,11.9,54.0,0.7502,939.0,1140.0,1555.0,1074.0,1.0219,1.2747,0
3,evening,wednesday,11.0,60.0,0.7867,948.0,1092.0,1584.0,1203.0,1.0219,1.2511,0
4,night,wednesday,11.2,59.6,0.7888,836.0,1205.0,1490.0,1110.0,0.7432,1.1565,0

In [4]:
training_data = data.drop(['true_label', 'true_error'], axis=1)
training_data.head(2)

,time_slot,day_of_week,T,RH,AH,PT08.S2(NMHC),PT08.S3(NOx),PT08.S4(NO2),PT08.S5(O3),given_label
0,evening,wednesday,13.6,48.9,0.7578,1046.0,1056.0,1692.0,1268.0,1.2366
1,evening,wednesday,13.3,47.7,0.7255,955.0,1174.0,1559.0,972.0,1.1747

In [ ]:
y = training_data['given_label']
X = training_data.drop(['given_label'], axis=1)

###### Add your training code here ###############
# model = 



# predictions = model.predict()

##### saving the predictions ####################
savepath = "./../predictions/model_output.npy"
np.save(savepath, np.array(predictions))

## Section section is relevant only if using AutoGluon

Uncomment the code in following cells and run to generate output and save to predictions folder.

### set up arguments

In [ ]:
# from autogluon.tabular import TabularDataset, TabularPredictor

# data_without_label = training_data.drop(['given_label'], axis=1)
# savepath = os.path.join("trained_models", dataset_name)

# predictorArgs = {
#                     "path"             : savepath, 
#                     "label"            : 'given_label',
#                     "eval_metric"      : 'r2',
#                     "problem_type"     : 'regression'
#                 }

# hyperparameters = { 
#                     'GBM'   : {}, 
#                     'FASTAI': {}, 
#                     'RF'    : {'criterion': 'squared_error', 
#                                 'ag_args': {'name_suffix': 'MSE', 
#                                 'problem_types': ['regression', 'quantile']}}
#                     }

### Normal Model fitting

In [ ]:
# predictor = TabularPredictor(**predictorArgs)
# predictor.fit(training_data, hyperparameters=hyperparameters)
# leaderboard = predictor.leaderboard(training_data, silent=True)
# leaderboard

### Cross Validation fitting

In [ ]:
# predictor_cv = TabularPredictor(**predictorArgs) 
# predictor_cv.fit(training_data, presets="best_quality", num_stack_levels= 0, hyperparameters=hyperparameters)
# leaderboard_cv = predictor_cv.leaderboard(training_data, silent=True)
# leaderboard_cv

### predicting and saving arrays

In [ ]:
# models = {  'normal'            : list(leaderboard['model']), 
#             'crossValidation'   : list(np.append(leaderboard_cv['model'], ['oof']))}

# predictors = { 'normal'          : predictor, 
#                'crossValidation' : predictor_cv}

# # check if path is available, else create it. 
# pred_path = os.path.join("./../predictions/", dataset_name)
# if not os.path.isdir(pred_path):
#     os.mkdir(pred_path)

# for model_type in models.keys():
#     if model_type == "normal": 
#         for model in models[model_type]:
#             savepath = os.path.join(pred_path, model+".npy")
#             predictions = predictors[model_type].predict(data_without_label, model=model)
#             np.save(savepath, np.array(predictions))
#     elif model_type == "crossValidation":
#         for model in models[model_type]:
#             if model == "oof":
#                 predictions = predictors[model_type].get_oof_pred()
#                 savepath = os.path.join(pred_path, model+".npy")
#             elif model in models['normal']:
#                 predictions = predictors[model_type].predict(data_without_label, model=model)
#                 savepath = os.path.join(pred_path, model+"_CV.npy")
#             else: 
#                 predictions = predictors[model_type].predict(data_without_label, model=model)
#                 savepath = os.path.join(pred_path, model+".npy")

#             np.save(savepath, np.array(predictions))